/* Here is the hierarchy of components' selectors.
You can inspect the application by setting the environment variable
 GTK_DEBUG=interactive before running the application.
*/
/*
window.background
  box#window-container
    box#upper-left-container
      box#header-container
      box#display-container
        box#annunciators-container
          label.annunciator
        box#lcd-container
          GtkDrawingArea#lcd
      box.keyboard-container#high-keyboard-container
    box#downer-right-container
      box.keyboard-container#low-keyboard-container
        box.row-container
          box.key-container
            box.top-labels-container
              label.label-left
              label.label-right
            button.key.(menu,function,arrow,enter,core,core-number,alpha,shift-left,shift-right)
              label.label-key
            label.label-letter
*/
.background {
    font-family: URW Gothic;
    font-weight: normal;
}

#window-container {
    border-width: 4px;
    border-style: outset;
}

#display-container {
    border-style: solid;
    border-width: 0 16px;
}
#annunciators-container {
    border-top-width: 12px;
}
#lcd-container {
    border-bottom-width: 12px;
}

.annunciator {
    padding: 0px;
}

.keyboard-container {
    border-style: inset;
}
.key-container {
    margin: 1px 5px;
}
#high-keyboard-container {
    border-width: 3px 3px 0 3px;
}
#low-keyboard-container {
    border-width: 0 3px 3px 3px;
}
#high-keyboard-container > .row-container:first-child,
#high-keyboard-container > .row-container:nth-child(3) {
    border-bottom-width: 2px;
    border-bottom-style: outset;
}

.key {
    background-image: none;
    padding: 0px;
    margin: 2px 0px;
    min-height: 40px;
    border-style: outset;
    border-width: 3px;
}
.key-down {
    border-style: inset;
}

.enter {
    margin: 0 1px;
    min-height: 46px;
}
.arrow {
    border-radius: 33%;
}

.top-labels-container {
    min-height: 1.1em;
}

.label-key,
.label-left,
.label-right,
.label-letter,
.label-below {
    font-weight: bold;
}
.label-key {
    font-size: 1em;            /* base font size */
}
.label-left,
.label-right,
.label-letter,
.label-below {
    font-size: 0.75em;            /* typically 0.75 * base font size */
}

.shift-left .label-key,
.shift-right .label-key {
    font-size: 2em;            /* typically 2 * base font size */
}
.core-number .label-key,
.arrow .label-key,
.annunciator {
    font-size: 1.75em;            /* typically 1.75 * base font size */
}
.alpha .label-key,
.enter .label-key {
    font-size: 1.25em;            /* typically 2 * base font size */
}
